<div class="row">
  <div style="width: 100%;">
    <div class="row text-white" style="padding-left: 0px; padding-right: 0px;">
      <div class="col-xl-3 col-lg-6 col-sm-12 my-3">
        <div class="row p-4 rounded"
             style="background-image: linear-gradient(to top left, #1950b4, #6495ed
             ); box-shadow: 0 6px 6px -6px #666;
             border-bottom: 1px solid #003087; ">
          <div class="col-sm-3 display-4 one" ><i _ngcontent-c11=""
               class="ems-general "></i></div>
          <div class="col-sm-9 text-right">
            <p style="font-size: 14px;">Pending Orders</p>
            <h5 class="display-5">{{porders}}</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-12 my-3 ">
        <div class="row p-4 rounded"
             style="background-image: linear-gradient(to top left, #00746e, #20b2aa
             ); box-shadow: 0 6px 6px -6px #666;
             border-bottom: 1px solid #00756e;">
          <div class="col-sm-3 display-4 two"><i _ngcontent-c11=""
               class="ems-Accountreceivables "></i></div>
          <div class="col-sm-9 text-right">
            <p style="font-size: 14px;">Pending Invoices</p>
            <h5 class="display-5">{{pinvoices}}</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-12 my-3 ">
        <div class="row p-4 rounded"
             style="background-image: linear-gradient(to top left, #cc4132, #fa8072
             );  box-shadow: 0 6px 6px -6px #666;
             border-bottom: 1px solid #ff2f17;">
          <div class="col-sm-3 display-4 three"><i _ngcontent-c11=""
               class="ems-employee1 "></i></div>
          <div class="col-sm-9 text-right">
            <p style="font-size: 14px;">Fast Moving Items</p>
            <h5 class="display-5">{{items}}</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-12 my-3 ">
        <div class="row p-4 rounded"
             style="background-image: linear-gradient(to top left, #9523b1, #ba55d3
             ); box-shadow: 0 6px 6px -6px #666;
             border-bottom: 1px solid #9700bd;">
          <div class="col-sm-3 display-4 four"><i _ngcontent-c11=""
               class="ems-sales "></i></div>
          <div class="col-sm-9 text-right">
            <p style="font-size: 14px;">Vendor Invoices</p>
            <h5 class="display-5">{{vinvoices}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="container-fluid" style="padding-right: 0px; 
       padding-left: 0px;" >
        <div class="card">
          <!-- <h3 class="mb-3 pb-3" style="border-bottom: 1px solid rgba(0,0,0,0.1);">Sales & Earnings</h3> -->
          <div class="row"
               style="align-items: center;">
            <div class="col-xl-12 col-lg-12">
              <iframe width="100%"
                      height="600"
                      src="https://app.powerbi.com/view?r=eyJrIjoiZjg4MGE1ZTItZTEzOS00ODAwLTkzYmUtZTFlYmNkYmIyZDBlIiwidCI6IjAxMzI4MDZjLTY4Y2EtNDJlOC04ZjdkLTdjYmRkYjBlM2YxNCJ9"
                      frameborder="0"
                      allowFullScreen="true"></iframe>
            </div>
            <!-- <div class="col-xl-8 col-lg-12">
              <img src="http://reneweconomy.com.au/wp-content/uploads/2016/09/carbon7.png"
                   title="Energy chart"
                   class="img-fluid">
            </div>
            <div class="col-xl-4 col-lg-12 my-3">
                <div class="row mt-5" style="align-items: baseline;">
                    <div class="col-4 " style="padding-left: 0; font-size: 18px;">Nuclear</div>
                    <div class="col-8 text-right" style="font-size: 24px;">23,569</div>
                  </div>
              <div class="progress mt-2">
                <div class="progress-bar"
                     style="background-color: #935882; width: 20%;"></div>
              </div>
              <div class="row mt-5" style="align-items: baseline;">
                  <div class="col-4 " style="padding-left: 0; font-size: 18px;">Hydro</div>
                  <div class="col-8 text-right" style="font-size: 24px;">38,569</div>
                </div>
              <div class="progress mt-2">
                <div class="progress-bar"
                     style="background-color: #8BC369; width: 40%;"></div>
              </div>
              <div class="row mt-5" style="align-items: baseline;">
                  <div class="col-4 " style="padding-left: 0; font-size: 18px;">Wind</div>
                  <div class="col-8 text-right" style="font-size: 24px;">56,698</div>
                </div>
              <div class="progress mt-2">
                <div class="progress-bar"
                     style="background-color: #D33632; width: 50%;"></div>
              </div>
              <div class="row mt-5" style="align-items: baseline;">
                <div class="col-4" style="padding-left: 0; font-size: 18px;">Solar</div>
                <div class="col-8 text-right" style="font-size: 24px;">76,562</div>
              </div>
              <div class="progress mt-2">
                <div class="progress-bar"
                     style="background-color: #FFBF00; width: 75%;"></div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3 mb-5">
  <div class="container-fluid" style="font-size: 14px; padding-right: 0px; 
  padding-left: 0px;">
    <div class="card">
      <div class="row my-2 pb-2"
           style="border-bottom: 1px solid rgba(0,0,0,0.1);">
        <h4 style="font-size: 16px;">Key Performance Indicators (KPI)</h4>
        <hr>
      </div>
      <div class="row mt-3">
        <div class="col-lg-3 float-left">
          Income
          <i class="fa fa-arrow-down fa-2x text-success"></i> 12.05%
        </div>
        <div class="col-lg-3 float-left">
          Expenses
          <i class="fa fa-arrow-up fa-2x text-danger"></i> 12.05%
        </div>
        <div class="col-lg-3 float-left">
          Receivables
          <i class="fa fa-arrow-down fa-2x text-success"></i> 12.05%
        </div>
        <div class="col-lg-3 float-left">
          Payables
          <i class="fa fa-arrow-up fa-2x text-danger"></i> 12.05%
        </div>
      </div>
      <br>
      <div class="row">
        <table class="ui-table-scrollable-header-table table">
          <thead>
            <tr>
              <td>INDICATOR</td>
              <td>PERIOD</td>
              <td>CURRENT</td>
              <td>PREVIOUS</td>
              <td>CHANGE</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sales</td>
              <td>This Month & Last Month</td>
              <td>513,021,256</td>
              <td>511,112,369</td>
              <td></td>
            </tr>
            <tr>
              <td>Income</td>
              <td>This Month & Last Month</td>
              <td>513,021,256</td>
              <td>511,112,369</td>
              <td></td>
            </tr>
            <tr>
              <td>Expenses</td>
              <td>This Month & Last Month</td>
              <td>513,021,256</td>
              <td>511,112,369</td>
              <td></td>
            </tr>
            <tr>
              <td>Receivables</td>
              <td>This Month & Last Month</td>
              <td>513,021,256</td>
              <td>511,112,369</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
