<img src="../../assets/images/image.jpg" alt="" style="position: fixed;">
<div class="wrapper fadeInDown">

  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      <h1 class="h3 bg-info p-3 text-white">Log In </h1>
    </div><br>

    <!-- Login Form -->
    <form>

        <div class="form-group">
            <input type="text" class="fadeIn second" name="email" [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="fadeIn second" name="password" [(ngModel)]="password" placeholder="Password">
        </div>



      <!-- <div class="form-group">
        <input type="text" id="login" class="fadeIn second" name="email" [(ngModel)]="email" placeholder="email"
          #userEmail="ngModel" required><br>
        <span *ngIf="userEmail?.errors && (userEmail.dirty || userEmail.touched)" class="text-danger">
          <span *ngIf="userEmail?.errors.required">Email is required</span>
        </span>
      </div>
      <div class="form-group">
        <input type="password" id="password" class="fadeIn third" name="login" [(ngModel)]="password"
          placeholder="password" #userPassword="ngModel" required><br>
        <span *ngIf="userPassword?.errors && (userPassword.dirty || userPassword.touched)" class="text-danger">
          <span *ngIf="userPassword?.errors.required">Password is required</span>
        </span>
      </div> -->

      <div class="form-group">
        <input type="button" class="fadeIn fourth" (click)="LogIn()" value="Log In">
      </div>
    </form>




    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/']">Forgot Password? &nbsp;&nbsp;&nbsp;
        <a class="underlineHover" [routerLink]="['/signup']">SignUp</a>
      </a>
    </div>

  </div>
</div>